.notion-selectable.notion-page-block.notion-collection-item {
  border-left: 2px solid #3b4252 !important;
  border-bottom: 2px solid #3b4252 !important;
  border-right: 2px solid #3b4252 !important;
}

.notion-selectable.notion-collection_view_page-block > div {
  background: transparent !important;
  box-shadow: none !important;
}

.notion-calendar-view > .notion-selectable.notion-collection_view-block > div {
  background: transparent !important;
  box-shadow: rgb(129 161 193 / 0.11) -1px 0px 0px !important;
}

.notion-calendar-view [style*="background: rgb(32, 32, 32);"] {
  background: rgb(129 161 193 / 0.11) !important;
}

.notion-calendar-view [style*="border-right: 1px solid rgb(47, 47, 47);"] {
  border-right: 1px solid rgb(129 161 193 / 0.11) !important;
  border-bottom: 1px solid rgb(129 161 193 / 0.11) !important;
}

.notion-selectable.notion-page-block.notion-collection-item {
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
}

.notion-table-view [style*="background: rgb(25, 25, 25);"] {
  background: transparent !important;
  box-shadow: none !important;
}

.notion-board-view [style*="background: rgb(25, 25, 25);"] {
  background: transparent !important;
}

.notion-board-view [style*="background: rgb(32, 32, 32);"] {
  background: transparent !important;
  box-shadow: none !important;
}

.notion-view-settings-sidebar {
  background: rgb(59 66 82 / 1) !important;
}

.notion-selectable .notion-header-block [style*="background: rgb(20, 58, 78)"] {
  background: rgb(129 161 193 / 70%) !important;
}

.pseudoSelection [style*="height: 30vh;"] {
  height: 20vh !important;
}
